extends ./layout.pug
block container
	div(class="container")
		div(class="panel")
			h1().
				List Profiles
			div
				table(class="table" border="1px")
					for profile in line
						tr
							td #{profile.cve_profile}
							td #{profile.name_profile}
							td #{profile.lastname_profile}
							td #{profile.email_profile}
							td #{profile.datebirth_profile}